<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Create Person</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
    <h1 class="text-center mb-4">Create Person</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <th:block th:unless="${#lists.isEmpty(errors)}">
                <div class="alert alert-danger">
                    <p>Please correct the following errors in your submission:</p>
                    <ul>
                        <th:block th:each="error : ${errors}">
                            <li th:text="${error}"></li>
                        </th:block>
                    </ul>
                </div>
            </th:block>
            <form action="/person/create" method="POST">
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" class="form-control" name="firstName" th:value="${person.firstName}"/>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" class="form-control" name="lastName" th:value="${person.lastName}"/>
                </div>
                <div class="form-group">
                    <label for="emailAddress">Email Address:</label>
                    <input type="text" class="form-control" name="emailAddress" th:value="${person.emailAddress}"/>
                </div>
                <div class="form-group">
                    <label for="streetAddress">Street Address:</label>
                    <input type="text" class="form-control" name="streetAddress" th:value="${person.streetAddress}"/>
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                    <input type="text" class="form-control" name="city" th:value="${person.city}"/>
                </div>
                <div class="form-group">
                    <label for="state">State:</label>
                    <input type="text" class="form-control" name="state" th:value="${person.state}"/>
                </div>
                <div class="form-group">
                    <label for="zipCode">Zip Code:</label>
                    <input type="text" class="form-control" name="zipCode" th:value="${person.zipCode}"/>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
