<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Delete Person</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container text-center">
    <h1>Delete Person</h1>
    <p>
      You are about to delete the person
      <th:block th:text="${person.firstName}" />
      <th:block th:text="${person.lastName}" />: Are you sure?
    </p>
    <form th:action="@{/person/delete}" method="post">
      <input type="hidden" name="personId" th:value="${person.personId}" />
      <button type="submit" name="command" value="Cancel" class="btn btn-secondary">Cancel</button>
      <button type="submit" name="command" value="Delete" class="btn btn-danger">Delete</button>
    </form>
  </div>
  </body>
</html>
