<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Edit Person</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <h1 class="mt-4">Edit Person</h1>
        <th:block th:unless="${#lists.isEmpty(errors)}">
            <div class="alert alert-danger">
                <p>Please correct the following errors in your submission:</p>
                <ul>
                    <th:block th:each="error : ${errors}">
                        <li th:text="${error}"></li>
                    </th:block>
                </ul>
            </div>
        </th:block>
        <form action="/person/edit" method="POST" name="editPersonForm" class="mt-3" onsubmit="return validateForm()">
            <input type="hidden" name="personId" th:value="${person.personId}"/>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" name="firstName" th:value="${person.firstName}"/>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" name="lastName" th:value="${person.lastName}"/>
            </div>
            <div class="form-group">
                <label for="emailAddress">Email Address:</label>
                <input type="text" class="form-control" name="emailAddress" th:value="${person.emailAddress}"/>
            </div>
            <div class="form-group">
                <label for="streetAddress">Street Address:</label>
                <input type="text" class="form-control" name="streetAddress" th:value="${person.streetAddress}"/>
            </div>
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" class="form-control" name="city" th:value="${person.city}"/>
            </div>
            <div class="form-group">
                <label for="state">State:</label>
                <input type="text" class="form-control" name="state" th:value="${person.state}"/>
            </div>
            <div class="form-group">
                <label for="zipCode">Zip Code:</label>
                <input type="text" class="form-control" name="zipCode" th:value="${person.zipCode}"/>
            </div>
            <div class="form-group">
                <label for="clientId">Associated Client:</label>
                <select name="clientId" id="clientId" class="form-control">
                    <option value="">--Select a Client--</option>
                    <option th:each="client : ${clients}" th:value="${client.clientId}" th:text="${client.companyName}" th:selected="${client.clientId == person.clientId}"></option>
                </select>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          
        </form>
    </div>
    <script>
    // Normally I would add this as a separate script file but included it here for brevity
    function validateForm() {
    let isValid = true;
    let firstName = document.forms["editPersonForm"]["firstName"].value;
    let lastName = document.forms["editPersonForm"]["lastName"].value;
    let emailAddress = document.forms["editPersonForm"]["emailAddress"].value;
    let city = document.forms["editPersonForm"]["city"].value;
    let state = document.forms["editPersonForm"]["state"].value;
    let streetAddress = document.forms["editPersonForm"]["streetAddress"].value;
    let zipCode = document.forms["editPersonForm"]["zipCode"].value;

    if (firstName.length === 0 || firstName.length > 50) {
        alert("First name is required with maximum length of 50");
        isValid = false;
    }

    if (lastName.length === 0 || lastName.length > 50) {
        alert("Last name is required with maximum length of 50");
        isValid = false;
    }

    if (emailAddress.length === 0 || emailAddress.length > 50) {
        alert("Email address is required with maximum length of 50");
        isValid = false;
    }

    if (city.length === 0 || city.length > 50) {
        alert("City is required with maximum length of 50");
        isValid = false;
    }

    if (state.length !== 2) {
        alert("State is required with length 2");
        isValid = false;
    }

    if (streetAddress.length === 0 || streetAddress.length > 50) {
        alert("Street address is required with maximum length of 50");
        isValid = false;
    }

    if (zipCode.length !== 5) {
        alert("Zip code is required with length 5");
        isValid = false;
    }
    return isValid;
}
    </script>
</body>

</html>
