<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Person Listing</title>
  </head>
  <body>
    <h1>Person Listing</h1>
    <p><a href="/person/create">Create New Person</a></p>
    <th:block th:unless="${#lists.isEmpty(persons)}">
      <table>
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Associated Client</th> 
            <th>Actions</th>
            <th>Person Id</th>
          </tr>
        </thead>
        <tbody>
          <th:block th:each="person : ${persons}">
            <tr>
              <td th:text="${person.firstName}">First</td>
              <td th:text="${person.lastName}">Last</td>
              <td th:text="${person.emailAddress}">first.last@email.com</td>
              <td th:text="${person.client?.companyName}">N/A</td>
              <td>
                <a th:href="@{/person/edit/{personId}(personId=${person.personId})}">Edit Person</a>
                <form th:action="@{/person/delete}" method="post">
                  <input type="hidden" name="personId" th:value="${person.personId}" />
                  <input type="hidden" name="command" value="Delete" />
                  <input type="submit" value="Delete Person" />
              </form>                          
              </td>
              <td th:text="${person.personId}">Debug Person ID</td>
            </tr>
          </th:block>
        </tbody>
      </table>
    </th:block>
    <th:block th:if="${#lists.isEmpty(persons)}">
      <p>No results found.</p>
    </th:block>
    <h1><a href="/clients">View Clients</a></h1>
  </body>
</html>
